.row{
    display: inline-block;
}

#container{
    text-align: center;
    padding: 8px;
    background-color: antiquewhite;
    width: fit-content;
    margin: auto;

}

body{
    text-align: center;
    background-color: coral;
    justify-content: center;
    align-items: center;
}

h1{
    color: antiquewhite;
    
}